:root {
  --color-text-black: #070707;
  --color-text-gray: #828282;
  --color-text-lightGray: #e5e5e5;
  --color-text-white: #ffffff;
  --color-bg-lightGray: #f6f6f6;
  --color-bg-white: #ffffff;
  --color-bg-black: #070707;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Khula', sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  color: var(--color-text-black);
  background-color: var(--color-bg-white);
  min-width: 1100px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.layout {
  padding: 0 20px;
  margin: 0 auto;
  width: 980px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--color-text-black);
  margin: 0 auto;
}

.link--nav {
  font-weight: bold;
  color: var(--color-text-gray);
}

.link--active {
  color: var(--color-text-black);
}

.button {
  display: block;
  width: 180px;
  height: 42px;
  color: var(--color-text-white);
  background-color: var(--color-bg-black);
  border: none;
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  margin-bottom: 92px;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 342px;
  margin: 0 auto;
  margin-bottom: 44px;
}

.socials__links {

}

.title {
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 120%;
}

.title--h1 {
  font-size: 47px;
  font-weight: 700;
  margin-bottom: -14px;
}

.title--h2 {
  font-size: 34px;
  text-align: center;
}

.title--features {
  margin-bottom: 18px;
}

.title--skills {
  margin-bottom: 70px;
}

.title--portfolio {
  margin-bottom: 48px;
}

.title--contacts {
  margin-bottom: 20px;
}

p {
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-align: center;
}

.header-line {
  background-color: var(--color-text-gray);
  padding: 0;
  margin: 0;
  border: none;
  height: 1px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.intro {
  padding-top: 40px;
  padding-bottom: 104px;
}

.intro__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro__inner p {
  line-height: 130%;
}

.intro__locale {
  transform: rotate(270deg) translateX(50%) translateY(150%);
  display: flex;
}

.intro__img {
  padding-top: 50px;
}

.features {
  background-color: var(--color-bg-lightGray);
  padding-top: 120px;
  padding-bottom: 110px;
}

.features__description {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 48px;
  line-height: 120%;
}

.skills {
  padding-top: 92px;
  padding-bottom: 107px;
}

.skills__description {
  padding-bottom: 84px;

}

.skills__list {
  display: flex;
  width: 940px;
  margin: 0 auto;
  justify-content: space-between;
}

.skills__item {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.skills__item img {
  margin-bottom: 28px;
}

.skills__text {
  color: var(--color-text-gray);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 40px;
}

.skills__stars {
  display: block;
  font-size: 0;
}

.skills__stars span {
  padding: 0;
  font-size: 18px;
  line-height: 1;
  color: var(--color-text-lightGray);
}

.skills__stars span:before {
  content: "★";
}

.skills__stars span.skills__active {
  color: var(--color-text-black);
}

.portfolio {
  background-color: var(--color-bg-lightGray);
  padding-top: 112px;
  padding-bottom: 96px;
}

.portfolio__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio__inner img {
  margin-bottom: 44px;
}

.portfolio__inner a {
  margin-bottom: 100px;
}

.portfolio__inner a:last-child {
  margin-bottom: 0;
}

.contacts {
  padding-top: 114px;
  padding-bottom: 124px;
}

.contacts__text {
  margin-bottom: 32px;
}

.contacts__descriptions {
  color: var(--color-text-gray);
  margin: 0 auto;
}
